header {
    background: repeating-linear-gradient(45deg, #649ac7, #3e7db3 12px);
}

.header-overlay {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(90deg, #00d18edf, #007f6775);
    padding: 22px;
    padding-bottom: 2px;
}

section {
    padding: 10px;
}

body {
    background: #649ac7;
    font-family: "Patrick Hand", cursive, sans-serif, system-ui, auto;
    margin: 0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-a, .a-button {
    font-family: "Patrick Hand", cursive, sans-serif, system-ui, auto;
    background: #0004;
    color: #bef;
    padding: 12px 20px;
    border-radius: 2em;
    text-decoration: none;
    break-after: avoid;
    -webkit-box-decoration-break: clone;
    transition: 0.2s;
}

.socials-div {display: flex;flex-direction: column;align-content: center;align-items: center;}

.social-section {
    background: #8197bf;
}

.creations-section {
    background: #81abbf;
}

h1 {
    font-size: xxx-large;
}

section#socials {}

.socials-box {display: flex;flex-direction: row;align-items: center;justify-content: center;flex-wrap: wrap;}

img.social-icon {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

a.social-label {
    color: white;
}

.social-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000070;
    font-size: x-large;
    padding: 30px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 5px;
    transition: 0.25s;
    color: white;
}

span.social-label {
    color: white;
}

a.social-button:hover {transform: scale(1.15) translateY(-10px);filter: drop-shadow(1px 10px 3px black);background: #27359b7a;text-decoration: underline;}

.header-a:hover, .a-button:hover {
    background: #3334;
    color: #fff;
    transform: scale(1.05);
    text-decoration: underline;
}

.overall-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: beige;
    overflow: hidden;
    padding: 40px 20px;
    width: 1200px;
}

.overall-section {
    display: flex;
    background: beige;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.image-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flags-box {
    display: flex;
}

.pfp {
    max-width: 320px;
    max-height: 320px;
    width: 90%;
    border-radius: 25px;
    filter: drop-shadow(1px 10px 3px #0009);
    margin-bottom: 10px;
}

.flag {
    max-width: 50px;
    max-height: 35px;
    border-radius: 5px;
    margin: 5px 2.5px;
    z-index: 20;
}

.text-container-overall {
    margin-left: 15px;
    max-width: 700px;
    width: 70%;
}

.stack-section {
    background: #c7dde5;
}

.likes-section {
    background: #c7dde5;
}

.stack-div, .creations-div, .likes-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.stack-boxes, .likes-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.purplish {
  background: #b480bd;
}
.greenish {
    background: #69c879;
}
.bluish {
    background: #5fb2ca;
}
.redish {
    background: #ca5f78;
}
.goldish {
    background: #f0da5e;
}

.stack-box, .likes-box {
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 240px;
    margin: 20px;
}

.stack-box-title, .likes-box-title {
    color: #fff;
    font-weight: 600;
    font-size: 28px;
}

.stack-box-content, .likes-box-content {
    padding: 15px;
    background: #00000077;
    
    width: 90%;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    margin: 2px 0px;
}

img.creations-img {
    width: 320px;
    border-radius: 15px;
    margin: 10px;
}

.creations-box {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
}

.generic-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.generic-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 20px;
    width: 1200px;
}

section#need2know {
    background: darkseagreen;
}

section#dreams {background: #a5c3dd;}

footer {display: flex;flex-direction: column;align-content: center;align-items: center;}

a#youtube_card {
    background: #d90707a0;
}

a#tiktok_card {
    background: linear-gradient(
40deg, #3e67ffa0, #ff4f67a0);
}

a#github_card {
    background: #2f2f2fa0;
}

a#twitch_card {
    background: #cd1fcda0;
}

a#discord_card {
    background: #27359ba0;
}

a#roblox_card {
    background: #3d3defa0;
}

a#xbox_card {
    background: #10c910a0;
}

a#steam_card {
    background: #36529fa0;
}

a#namemc_card {
    background: #101010a0;
}

.creation-sample {
    background: #0002;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 5px;
}

.creation-label {
    font-size: x-large;
    color: white;
    margin: 20px 5px;
}

a.white-link {
    color: white;
    background: #0000ff33;
    padding: 3px 18px;
    border-radius: 20px;
    transition: 0.33s;
    display: inline-block;
}
a.white-link:hover {transform: scale(1.1);
    background: #9c9cff9c;}
